:host {
  display: block;
  padding: 0 160px;
}

.wrapper {
  max-width: 1600px;
  padding: 64px 80px;
  margin: 64px auto;
}

mat-chip-list {
  display: block;
  margin: 0 0 64px 0;
}

h3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.slider-title {
  height: 48px;
}

.slider-inner {
  margin-top: 24px;
}

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 128px 4px;
  margin-bottom: 128px;
}

@media screen and (max-width: 599px) {
  .wrapper {
    padding: 64px 0;
  }

  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .slider-title {
    padding: 48px 16px;
  }

  .details {
    padding: 16px;
  }
}

mat-spinner {
  margin: 0 auto;
}
