<div class="bottom-bar mat-elevation-z8">
  <div class="bar-items">
    <a matRipple routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
      <div class="item">
        <app-home-icon></app-home-icon>
        <span>Ana sayfa</span>
      </div>
    </a>
    <a matRipple routerLinkActive="active" routerLink="/library">
      <div class="item">
        <app-video-library-icon></app-video-library-icon>
        <span>Kitaplık</span>
      </div>
    </a>
    <a matRipple routerLinkActive="active" routerLink="/search">
      <div class="item">
        <app-whatshot-icon></app-whatshot-icon>
        <span>Trendler</span>
      </div>
    </a>
  </div>
</div>
