:host {
  margin-left: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

sup {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  margin-left: 2px;
  text-transform: uppercase;
}

@media (max-width: 599px) {
  :host {
    margin-left: 0;
  }
}
